@model DokumentaPasos.Models.Gradjanin

@{
    ViewBag.Title = "Details";
}

<h2>Informacije o građaninu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JMBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MestoRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MestoRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prebivaliste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prebivaliste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodDrzave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodDrzave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaziDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaziDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojDokumenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojDokumenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.GradjaninID }) |
    @Html.ActionLink("Lista građana", "Index")
</p>
