@model DokumentaPasos.Models.ProduzetakPasosa

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje produžetka pasoša</h2>

<h3>Da li ste sigurni?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.LicnaKarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicnaKarta)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StariPasos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StariPasos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TroskoviUplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TroskoviUplate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" /> |
            @Html.ActionLink("Lista produženih pasoša", "Index")
        </div>
    }
</div>
